
body {

    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}



header {

    position: relative;
    background-color:#fff;
    padding: 30px;
    border-bottom: 5px solid #004c99;
}

/*Logo*/

.logo {

    position: absolute;
    top: 0;
    right: 20px;
    width: 150px;

 }

 .container {
    position: relative;
    top: 100px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);    
}

.tabs {

    display: flex;
    border-bottom: 2px solid #004c99;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.tab-btn {

    flex: 1;
    padding: 10px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 16px;
    color: #04ad4d;
    transition: 0.3s;
}

.tab-btn.active {

    border-bottom: 3px solid #04ad4d;
    font-weight: bold;
}

.tab-content {

    display: none;
    animation: fadeIn 0.5s;
}

.tab-content.active {

    display: block;
}

@keyframes fadeIn {

    from {
        opacity: 0;}

    to { 
        opasity: 1;}
    }

  .quick-actions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    margin-bottom: 20px;
  }

  .quick-actions button {

    background: #004c99;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px 20px;
    cursor: pointer;
    font-size: 14px;
  }

  .quick-actions button:hover {

    background: #0077b6;
  }

  .quick-actions button i {

    margin-right: 5px;
    text-align: center;
  }

  .tasks, .payments {

    margin-top: 20px;
    padding: 15px;
    background: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }