
body {

    background-color: #f4f4f4;
    background-image: url("images/overlay.png");
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

header {

    position: relative;
    background-color:#fff;
    padding: 30px;
    border-bottom: 5px solid #004c99;
}

/*Logo*/

 .logo {

    position: absolute;
    top: 0;
    right: 20px;
    width: 150px;

 }


 /*Banner Section*/

#banner {

    position: relative;
	background-color: #ffffff;
    background-image: url("images/bannerphoto.png"), url("images/overlay.png");
	background-position: top left, top left, center center;
	background-repeat: no-repeat;
	background-size: auto, auto, cover;
	z-index: 1;
	padding: 11em 0;
}

#banner .content {
	position: relative;
	background-color: rgba(21, 28, 23, 0.85);
	background-position: top left, center center;
	background-size: auto, 100% 250%;
	background-repeat: repeat, no-repeat;
	text-align: center;
	margin: 0;
	padding: 4em 0 3.5em 0;
	}


.button-container {

    display: flex;
    background-color: #fff;
    justify-content: center;
    margin-top: 40px;
    gap: 40px;
    border: 10px solid #004c99;
    border-radius: 10px;
    padding: 20px;


}

.btn {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0077b6;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
    gap: 10px;
    width: 100px;
    height: 100px;
}

.btn i {

    margin-right: 5px;
    font-size: 25px;
}

.btn:hover {

    background-color: #004c99;
    box-shadow: 0 0 20px rgba(3, 179, 254, 0.5);
}

.btn span {

    font-size: 16px;
    color:#f4f4f4;
    margin-top: 10px;
    display: block;
}


#footer {
    margin-top: 50px;
    background-color: #ffffff;
    color: #004c99;
    padding: 5px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo-container {
    width: 10%;
    margin: 10px 5px 5px 5px;
}

.logo-container img {
    width: 100%;
    height: auto;
}

.footer-text {
    width: 40%;
    margin: 5px;
    text-align: left;
}

.footer-text p {
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 1.5;

}

.map-container {
    width: 30%;
    margin: 5px;
}